<ion-header>
    <ion-toolbar>
        <ion-title>
            Info
        </ion-title>
    </ion-toolbar>
</ion-header>
<form>
    <ion-item>
        <ion-input required type="text" [(ngModel)]="data.title" name="title" placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input required type="text" [(ngModel)]="data.user" name="user" placeholder="User"></ion-input>
    </ion-item>

    <div style="position: relative">
        <ion-item *ngIf="!showPassword">
            <ion-input required type="password" [(ngModel)]="data.pass" name="pass" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item *ngIf="showPassword">
            <ion-input required type="text" [(ngModel)]="data.pass" name="pass" placeholder="Password"></ion-input>
        </ion-item>

        <div class="showPasswordIcon">
            <ion-icon *ngIf="!showPassword" name="eye" (click)="showPassword = !showPassword"></ion-icon>
            <ion-icon *ngIf="showPassword" name="eye-off" (click)="showPassword = !showPassword"></ion-icon>
        </div>
    </div>
</form>

<ion-button size="block" (click)="saveInfo()">
    Save
</ion-button>