<ion-header>
    <ion-toolbar>
        <ion-title>OnePass</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center>
        <img style="width: 60%" src="assets/img/app-icon.png" (click)="checkFingerprint()">
    </div>

    <form [formGroup]="loginForm">
        <!--<ion-item>-->
            <!--<ion-input formControlName="email" [(ngModel)]="user" required type="email" placeholder="Username"></ion-input>-->
        <!--</ion-item>-->
        <ion-item>
            <ion-input formControlName="password" [(ngModel)]="pass" required type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-button size="block" (click)="login()" color="primary">
            <span *ngIf="alreadySigned">Login</span>
            <span *ngIf="!alreadySigned">Enter Password</span>
        </ion-button>
    </form>

    <div padding-top>
        <div text-center *ngIf="isFingerprintAvailable">
            <img src="assets/img/fingerprint.png" style="width: 80px;" (click)="checkFingerprint()">
            <div>
                Tap here for fingerprint
            </div>
        </div>

        <div text-center *ngIf="!isFingerprintAvailable">
            <img src="assets/img/no_fingerprints.png" style="width: 80px;">
            <div>
                There is no fingerprint support
            </div>
        </div>
    </div>

</ion-content>
