<ion-header>
    <ion-toolbar>
        <ion-title>
            OnePass
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openPopover()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ion-item (click)="openPopover({id: 1, title: 'Facebook'})">
            <ion-label>
                <h2>Facebook</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Facebook</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Facebook</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>Facebook</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
