<ion-header>
    <ion-toolbar>
        <ion-title>intro</ion-title>
        <ion-buttons slot="end">
            <ion-button href="/login" routerDirection="root">Skip</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-slides pager="true">
        <ion-slide>
            <div>
                <div>
                    <img src="assets/icon/favicon.png" alt="">
                </div>
                <div>
                    the textg
                </div>
                <ion-button shape="round" fill="outline" (click)="goNext()">Next</ion-button>
            </div>
        </ion-slide>

        <ion-slide>
            <div>
                <div>
                    <img src="assets/icon/favicon.png" alt="">
                </div>
                <h1>Slide 2</h1>
                <ion-button shape="round" fill="outline" (click)="goNext()">Next</ion-button>
            </div>

        </ion-slide>

        <ion-slide>
            <div>
                <div>
                    <img src="assets/icon/favicon.png" alt="">
                </div>
                <h1>Slide 3</h1>
                <ion-button shape="round" fill="outline" href="/login" routerDirection="root">Start App</ion-button>
            </div>

        </ion-slide>
    </ion-slides>

</ion-content>
